.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.icon-bar {
  width: 25px;
  height: 3px;
  /* background-color: #333;*/
  margin: 3px 0;
}

.menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu ul li:last-child {
  border-bottom: none;
}
